@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
body {
    /*Contains default information that applies through the body of the page*/
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
    background-image: url('../img/img.png');
    padding-top: 60px;
}

#information{
    height:120px !important;
    overflow: scroll;
    color:#616161;
    border: 3px solid white;
    background-color: white;

}

#name{
    color:white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 15px;
}

#info {
    color:#616161;
    table-layout: fixed;

}

#code{
    text-align: center;
    vertical-align: middle;
}

td {
    text-align: center;
    font-size: 0.7em;
    color:#616161;
    vertical-align: middle;
}
th{
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 16px;
}

.top{
    text-align: center;
    vertical-align: middle;
    color : white;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar-default {
    background-color: #F8F8A1;
    border-color: #E7E7E7;
}
#top {
    background-color: rgb(4, 36, 61);
    color: white;
}

.container .header{
    vertical-align: middle;
    height : 10px;
}

#treeview-selectable{
    font-size: 14px;
}

iframe {
    height: 500px;
    background-color: white;
    border-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    margin: 0;
}

#top{
    height: 50px;
    font-size: 25px;
}

#heading{
    position: relative;
    vertical-align: middle;
}